// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header{
    display: grid;
    grid-template-columns: 2fr 4fr;
    background-color: bisque;
}